<!DOCTYPE html>
<html>

<head>

    <title>Indian Food Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script>
        function updateFoodOptions() {
            var type = document.getElementById("type").value;
            var specifications = document.getElementById("specifications").value;

            var vegCoreOptions = ['Aloo', 'Coffee', 'Dal', 'Dosa',
                                  'Ice Cream', 'Khichdi', 'Naan', 'Paneer',
                                  'Paratha', 'Roti', 'Sabzi', 'Tea', 'Surprise'];

            var nonVegCoreOptions = ['Chicken', 'Coffee', 'Egg', 'Fish',
                                     'Ice Cream', 'Mutton', 'Tea', 'Surprise'];

            var coreSelect = document.getElementById("core");
            coreSelect.innerHTML = "";

            var coreOptions = [];

            if (type === "1") {
                coreOptions = vegCoreOptions;
            } else if (type === "2") {
                coreOptions = nonVegCoreOptions;
            } else {
                coreOptions = vegCoreOptions.concat(nonVegCoreOptions);
            }

            for (var i = 0; i < coreOptions.length; i++) {
                var option = document.createElement("option");
                option.text = coreOptions[i];
                option.value = coreOptions[i];
                coreSelect.appendChild(option);
            }
        }
    </script>
</head>
<body>
    <h1>Welcome to Indian Food Recommendation System</h1>
    <form action="/recommend" method="POST">
        <label for="type">Choose your preferred food type:</label>
        <select name="type" id="type" onchange="updateFoodOptions()">
            <option value="1">Vegetarian</option>
            <option value="2">Non Vegetarian</option>
            <option value="3">No Specification/Mix</option>
        </select>

        <label for="specifications">Choose your specifications:</label>
        <select name="specifications" id="specifications">
            <option value="1">Protein Rich Food</option>
            <option value="2">Less Carbohydrates & Fat Food</option>
            <option value="3">No Specifications</option>
        </select>

        <label for="core">Choose your Food Core Types:</label>
        <select name="core" id="core" multiple>
        </select>

        <button type="submit">Get Recommendations</button>
    </form>

    <script>
        // Call the function on page load to populate the food options initially
        updateFoodOptions();
    </script>
</body>
</html>

